$transition: transform 0.2s ease;
$hero-color: orange;
$sidekick-color: red;
h2 {
    text-align: center;
}

.heroes-menu, .sidekicks-menu {
    padding: 0;
    margin: auto;
    max-width: 500px;

    /* flexbox */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
}

.topHeroesBtn, .topSidekicksBtn {
    background-color: #3f525c;
    border-radius: 2px;
    padding: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    text-align: center;
    width: 100%;
    min-width: 70px;
    margin: .5rem auto;
    box-sizing: border-box;

    /* flexbox */
    order: 0;
    flex: 0 1 auto;
    align-self: auto;

    /*transition*/
    transition: $transition;

    &:hover {
        transform: scale(1.1);
        border-radius: 10px;
        background-color: #c82323;
        color: #000;
        animation: shake .5s cubic-bezier(.36,.07,.19,.97) both;
    }

    &-topHerosBtn {
        color: $hero-color;
        border-color: $hero-color;
    }

    &-topSidekicksBtn {
        text-emphasis-color: $sidekick-color;
        color: $sidekick-color;
        border-color: $sidekick-color;
    }
}

@media (min-width: 600px) {
    a {
        width: 18%;
        box-sizing: content-box;
    }
}

a:hover {
    background-color: #000;
}

.shakey {
    animation-name: shake;
    animation-duration: 0.4s;
}

@keyframes shake {
    10%, 30%, 50%, 70%, 90%{
        transform: translateX(-1%);
    }

    20%, 40%,60%, 80% {
        transform: translateX(1%);
    }
}